{% extends "auctions/layout.html" %}

{% block body %}
<div class="btn-group">
  <a href="category/Fashion" class="btn btn-primary">Fashion</a>
  <a href="category/BW" class="btn btn-primary">Beauty and Wellness</a>
  <a href="category/FB" class="btn btn-primary">Food and Beverage</a>
  <a href="category/TechG" class="btn btn-primary">Technology and Gadgets</a>
  <a href="category/TGames" class="btn btn-primary">Toys and Games</a>
  <a href="category/Others" class="btn btn-primary">Others</a>
</div>
  
{% endblock %}

